ul {
  position: relative;
}
ul .img {
  display: inline-block;
  height: 200px;
  width: 200px;
  background: transparent;
  /*transform:rotateZ(-38deg) skewX(22.8deg) skewY(10.4deg);*/
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  overflow: hidden;
  position: absolute;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  left: 0;
}
ul .img .wrap {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
ul .img .wrap .navInfo {
  position: absolute;
  height: 120px;
  width: 160px;
  top: -300px;
  transition: all 0.5s ease 0s;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: white;
  padding: 80px 20px 0 20px;
  text-align: center;
  font-size: 20px;
}
ul .img .wrap:hover .responsive {
  -webkit-filter: blur(0px);
}
ul .img .wrap:hover .navInfo {
  top: 0px;
  opacity: 1;
}
ul .img .wrap1 {
  display: block;
}
ul .img .responsive {
  -webkit-filter: blur(2px);
  max-width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
