#sidebar {
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
  overflow: auto;
  z-index: 2;
}
#content {
  min-height: 100%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
  width: auto;
  margin: 0;
  padding: 20px;
  line-height: 200%;
}
#content code {
  font-size: 0.8rem;
}
#content img {
  margin: 20px auto;
}
#cloud {
  position: fixed;
  z-index: -1;
  top: 0;
}
#backTop {
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
  background: lightblue;
  font-weight: bold;
  color: white;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 40rem) {
  #sidebar {
    background-color: transparent;
  }
  #content {
    padding-left: 330px;
  }
}
