#sidebar {
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
  overflow: auto;
  z-index: 2;
}
#content {
  min-height: 100%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
  width: auto;
  margin: 0;
  padding: 20px;
  line-height: 200%;
}
#content code {
  font-size: 0.8rem;
}
#cloud {
  position: fixed;
  z-index: -1;
  top: 0;
}
@media (min-width: 40rem) {
  #sidebar {
    background-color: transparent;
  }
  #content {
    padding-left: 330px;
  }
}
